@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is commit  update */

@layer components {
  .container {
    @apply m-[0_auto] w-90 max-w-[1440px] px-0  md:w-85 xl:w-3/4;
  }

  .container-fluid {
    @apply w-full px-0;
  }

  .button {
    @apply px-7 py-3 bg-[#0B132A] text-white text-xs font-semibold rounded-md;
  }
  .shadow-card {
    box-shadow: 0 10px 15px -3px rgba(10, 37, 43, 0.336), 0 4px 6px -2px rgba(6, 39, 46, 0.829);
  }
  .shadow-card-hover {
    box-shadow: 0 10px 15px -3px rgba(43, 14, 10, 0.336), 0 4px 6px -2px rgba(6, 136, 129, 0.829);
  }
  
  body {
    @apply dark:bg-gray-400 bg-slate-100;
  }
  .swiper-slide-active {
    background: #000;
  }
  .select .custom-hover:hover {
    color: #923939 !important;
  }
  .margin-top {
    margin-top: 0 !important;
  }
  .margin-top-form {
    margin-top: 12px !important;
  }
  .margin-bottom-form {
    margin-bottom: 4px !important;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  .overlay img {
    max-width: 100%;
    max-height: 100%;
  }
  .color-primary {
    @apply bg-[#37B471];
  }
  .color-secondary {
    @apply bg-[#1C3B6B];
  }
  .color-accent {
    @apply bg-[#b6b1b1];
  }
  .color-success {
    @apply bg-[#468162];
  }
  .react-select__control {
    @apply outline-none;
  }

  /* body {
    overflow-y: hidden;
  } */
  /* .large-date-picker .react-datepicker-popper {
font-size: 20px;
width: 200px;
} */
  .select2-selection__input:focus {
    box-shadow: none;
    outline: none;
  }
  .shadow-custom {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

html {
  background-color: white !important;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  box-sizing: border-box;
}
